# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [6]:
'''tuple_1 = (1,2,3,4,5,6,7,8,9,10)
print(tuple_1)'''

tuple_1 = tuple(range(1,11))
print(tuple_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
print(f"First Element : {tuple_1[0]}")
print(f"Middle Element : {tuple_1[len(tuple_1)//2]}")
print(f"Second Element : {tuple_1[-1]}")

First Element : 1
Middle Element : 6
Second Element : 10

In [16]:
print(f"First 3 elements : {tuple_1[0:3]}")
print(f"Last 3 elements : {tuple_1[-3:]}")
print(f"Index 2 to 5 elements : {tuple_1[2:6]}")

First 3 elements : (1, 2, 3)
Last 3 elements : (8, 9, 10)
Index 2 to 5 elements : (3, 4, 5, 6)

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [18]:
tuple_mat = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tuple_mat)

print(f"Element at the 2nd Row and 3rd Coloumn : {tuple_mat[1][2]}")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
Element at the 2nd Row and 3rd Coloumn : 6

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [19]:
t1 = (1,2,3)
t2 = (4,5,6)

print("Concating two tuples : ", t1 + t2)

Concating two tuples :  (1, 2, 3, 4, 5, 6)

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [30]:
tuple_dup = (1,4,6,2,4,6,8,9,1,10,3,8)

print(tuple_dup)

print(tuple_dup.count(4))
print(tuple_dup.index(4))

(1, 4, 6, 2, 4, 6, 8, 9, 1, 10, 3, 8)
2
1

In [31]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [34]:
lst = [i for i in range(6)]
print(lst)
tup1 = tuple(lst)
print(tup1)

[0, 1, 2, 3, 4, 5]
(0, 1, 2, 3, 4, 5)

create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [36]:
tuple_3 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tuple_3)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [43]:
tp1= (1,2,3,4,5)
print(tpl)
lst2 = list(tp1)
print(lst2)
lst2.append(6)
print(lst2)
tp2 = tuple(lst2)
print(tp2)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [46]:
string = "Arjun"
print(string)

str_tup = tuple(string)
print(str_tup)

joined_str = ''.join(str_tup)
print(joined_str)

Arjun
('A', 'r', 'j', 'u', 'n')
Arjun

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [47]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [48]:
tuple_3 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for i in tuple_3:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [50]:
dup_tuple = (1,2,3,5,6,7,8,1,2,3,5)
set_dup = set(dup_tuple)
print(set_dup)

{1, 2, 3, 5, 6, 7, 8}

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [53]:
def min_tup(tpl5):
    return min(tpl5)

def max_tup(tpl5):
    return max(tpl5)

def sum_tup(tpl5):
    return sum(tpl5)

tuple_ele = (35,36,58,44,57,8,9,34,30,33)

print(f"Min element in Tuple : {min_tup(tuple_ele)}")
print(f"Max element in Tuple : {max_tup(tuple_ele)}")
print(f"Sum element in Tuple : {sum_tup(tuple_ele)}")

Min element in Tuple : 8
Max element in Tuple : 58
Sum element in Tuple : 344